# docker-compose.gpu.yml
version: '3.8'
# ЗАПУСК: docker compose -f docker-compose.yml -f docker-compose.gpu.yml up -d

services:
  ollama:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - OLLAMA_DEBUG=true

  app:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - CHROMA_GPU_ENABLED=true
      - NVIDIA_VISIBLE_DEVICES=all
      - FORCE_CPU=false